body {
  font-family: 'Raleway', 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: lightgray;
}

table {
	background-color: white;
}

.table .table .table-hover{
	color: lightgray;
}

.jumbotron {
	color: 000066;
	text-align: center;
}

h2 {
	text-align: center;
	color: 000066;
}

#logo {
	text-align: center;
}

a {
	color: blue;
}

a:hover {
	color: green;
}
